body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url(../img/lespiedsdanslorge.jpg) repeat; }

#background {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  #background span:nth-child(1) {
    color: #69ff52;
    top: 93%;
    left: 31%;
    animation-duration: 34.9s;
    animation-delay: -23.3s;
    transform-origin: -21vw -8vh;
    box-shadow: 40vmin 0 4.28773vmin currentColor; }
  #background span:nth-child(2) {
    color: #fff52f;
    top: 94%;
    left: 67%;
    animation-duration: 35.9s;
    animation-delay: -0.1s;
    transform-origin: 6vw -21vh;
    box-shadow: -40vmin 0 5.52929vmin currentColor; }
  #background span:nth-child(3) {
    color: #ff742a;
    top: 48%;
    left: 61%;
    animation-duration: 12.4s;
    animation-delay: -5.7s;
    transform-origin: 23vw -1vh;
    box-shadow: 40vmin 0 8.29015vmin currentColor; }
  #background span:nth-child(4) {
    color: #ff742a;
    top: 40%;
    left: 5%;
    animation-duration: 27.7s;
    animation-delay: -13.4s;
    transform-origin: 15vw -14vh;
    box-shadow: -40vmin 0 5.93124vmin currentColor; }
  #background span:nth-child(5) {
    color: #ff742a;
    top: 85%;
    left: 18%;
    animation-duration: 30s;
    animation-delay: -37.9s;
    transform-origin: 22vw 17vh;
    box-shadow: -40vmin 0 8.97102vmin currentColor; }
  #background span:nth-child(6) {
    color: #fff52f;
    top: 55%;
    left: 96%;
    animation-duration: 12.8s;
    animation-delay: -0.4s;
    transform-origin: -17vw -15vh;
    box-shadow: -40vmin 0 4.6896vmin currentColor; }
  #background span:nth-child(7) {
    color: #ff742a;
    top: 62%;
    left: 24%;
    animation-duration: 24.8s;
    animation-delay: -9.6s;
    transform-origin: -24vw 7vh;
    box-shadow: 40vmin 0 4.36937vmin currentColor; }
  #background span:nth-child(8) {
    color: #69ff52;
    top: 74%;
    left: 33%;
    animation-duration: 25.4s;
    animation-delay: -16.5s;
    transform-origin: 8vw -9vh;
    box-shadow: 40vmin 0 3.2312vmin currentColor; }
  #background span:nth-child(9) {
    color: #69ff52;
    top: 55%;
    left: 65%;
    animation-duration: 23.1s;
    animation-delay: -9s;
    transform-origin: 1vw 23vh;
    box-shadow: 40vmin 0 6.70138vmin currentColor; }
  #background span:nth-child(10) {
    color: #ff742a;
    top: 83%;
    left: 24%;
    animation-duration: 27.3s;
    animation-delay: -16.9s;
    transform-origin: 0vw 11vh;
    box-shadow: -40vmin 0 5.65252vmin currentColor; }
  #background span:nth-child(11) {
    color: #27ffe2;
    top: 3%;
    left: 70%;
    animation-duration: 12s;
    animation-delay: -16.5s;
    transform-origin: 18vw 24vh;
    box-shadow: -40vmin 0 4.63523vmin currentColor; }
  #background span:nth-child(12) {
    color: #ff742a;
    top: 68%;
    left: 87%;
    animation-duration: 25.7s;
    animation-delay: -34.8s;
    transform-origin: -16vw 4vh;
    box-shadow: -40vmin 0 6.75245vmin currentColor; }
  #background span:nth-child(13) {
    color: #27ffe2;
    top: 82%;
    left: 100%;
    animation-duration: 24.1s;
    animation-delay: -2.3s;
    transform-origin: -13vw 14vh;
    box-shadow: -40vmin 0 6.8986vmin currentColor; }
  #background span:nth-child(14) {
    color: #69ff52;
    top: 85%;
    left: 1%;
    animation-duration: 28.5s;
    animation-delay: -27s;
    transform-origin: 14vw -3vh;
    box-shadow: -40vmin 0 5.00161vmin currentColor; }
  #background span:nth-child(15) {
    color: #27ffe2;
    top: 34%;
    left: 18%;
    animation-duration: 25.5s;
    animation-delay: -38.4s;
    transform-origin: -20vw 3vh;
    box-shadow: -40vmin 0 3.04039vmin currentColor; }
  #background span:nth-child(16) {
    color: #ff742a;
    top: 37%;
    left: 35%;
    animation-duration: 23.9s;
    animation-delay: -17.6s;
    transform-origin: -18vw 22vh;
    box-shadow: -40vmin 0 8.68663vmin currentColor; }
  #background span:nth-child(17) {
    color: #fff52f;
    top: 94%;
    left: 17%;
    animation-duration: 32.6s;
    animation-delay: -8.3s;
    transform-origin: 8vw -12vh;
    box-shadow: 40vmin 0 5.48359vmin currentColor; }
  #background span:nth-child(18) {
    color: #69ff52;
    top: 51%;
    left: 54%;
    animation-duration: 21.8s;
    animation-delay: -18.1s;
    transform-origin: 10vw 20vh;
    box-shadow: 40vmin 0 5.66341vmin currentColor; }
  #background span:nth-child(19) {
    color: #27ffe2;
    top: 19%;
    left: 32%;
    animation-duration: 18.9s;
    animation-delay: -23.5s;
    transform-origin: -14vw -7vh;
    box-shadow: 40vmin 0 7.1923vmin currentColor; }
  #background span:nth-child(20) {
    color: #27ffe2;
    top: 19%;
    left: 10%;
    animation-duration: 16.4s;
    animation-delay: -2.6s;
    transform-origin: 8vw -16vh;
    box-shadow: 40vmin 0 3.33558vmin currentColor; }

@keyframes move {
  0% {
    opacity: 1; }
  50% {
    opacity: .75; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
